:root {
  color: white;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.header-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  background: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 2;
}

header .header-button {
  width: 300px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.header-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all 0.35s;
  z-index: -1;
}

.header-button:hover {
  color: black;
}

.header-button:hover:after {
  width: 100%;
}

.planet {
  transition: all 10s;
}

.planet:hover {
  transform: rotate(360deg);
}

.left-size div {
  overflow: hidden;
}

.vehicule:hover {
  animation: coming-in 0.3s ease-in-out forwards 1;
}

@keyframes coming-in {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.people:hover {
  animation: floating 1.3s ease-in-out forwards 1;
}

@keyframes floating {
  0% {
    transform: translateY(0%) rotate(0deg);
  }
  100% {
    transform: translateY(5%) rotate(10deg) translateX(2%);
  }
}

.about {
  background-image: url("./assets/falcon.jpg");
  background-size: cover;
  background-position: center;
  justify-content: space-around;
}

.about,
.stats {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.about h1,
.stats h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #5e96b7;
  font-weight: 700;
  text-shadow: 2px 2px 4px black;
}

.about p {
  font-size: 1.5em;
  text-shadow: 2px 2px 4px black;
}

.about span {
  text-transform: uppercase;
  color: #5e96b7;
  font-weight: 700;
}

.button-main {
  width: fit-content;
  padding: 10px 20px;
  background-color: black;
  border: 2px solid white;
  text-transform: uppercase;
  transition: all 0.3s;
}

.button-main:hover {
  background-color: white;
  color: black;
  font-weight: 700;
}

.stats {
  background-image: url("./assets/space.jpg");
  background-size: cover;
  background-position: center;

  justify-content: space-around;
}

.detail-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px;
}

.detail-stat article {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-stat img {
  width: 50px;
  height: 50px;
  filter: invert();
}

.loader {
  animation: spin 1s linear infinite;
  transform: scale(0.5);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.detail-stat p {
  font-size: 1.2em;

  color: #5e96b7;
}

.detail-stat span {
  color: white;
}

@media screen and (max-width: 768px) {
  .about,
  .stats {
    width: 100%;
  }
  .detail-stat {
    flex-direction: column;
  }

  .detail-stat p {
    font-size: 0.8em;
  }

  .about h1,
  .stats h2 {
    font-size: 1.2em;
  }

  .about p {
    font-size: 1em;
  }

  .detail-stat img {
    width: 20px;
    height: 20px;
  }

  .button-main {
    width: fit-content;
    padding: 2px 4px;
    background-color: black;
    border: 2px solid white;
    text-transform: uppercase;
    transition: all 0.3s;
  }
}

/* PLANET PAGE CSS */

.right-planet {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.planet-choice,
.planet-details {
  border: 1px solid white;
}

.planet-choice {
  background-image: url("/assets/fond-planet.jpg");
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 600px;
}

.planet-details {
  flex-grow: 1;

  width: 800px;
  height: fit-content;
}

.planet-details p {
  font-size: 1.5em;
  text-shadow: 2px 2px 4px black;
  color: #5e96b7;
  padding: 5px 3px;
}

.planet-right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.planet-right h2 {
  font-size: 2em;
  text-transform: uppercase;

  font-weight: 700;
  text-shadow: 2px 2px 4px black;
}

.planet-right select,
.planet-right input {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
}

.planet-right select {
  width: fit-content;
}

.input-planet {
  width: 100%;
  position: relative;
}

.search-planet {
  width: 100%;
}

.loupe {
  right: 8px;
  top: 5px;
  display: inline;
  width: 25px;
  height: 25px;
  filter: invert();
  position: absolute;
}

.planet-list {
  height: fit-content;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: white black;
}

.first-list {
  padding: 20px;
  position: static;
}

.first-list {
  background-color: #5e96b7;
  font-weight: 700;
}

.planet-list li,
.planet-right .first-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: all 0.3s;
}

.loader-planet-detail {
  margin-inline: auto;
  animation: spin 1s linear infinite;
  width: 50px;
}
